<!-- Bouton Ajouter -->
<div class="header-section">
    <h2 class="page-title">Liste des Etudiants</h2>
    <button pButton
        label="Ajouter un étudiant"
        icon="pi pi-plus"
        class="p-button-success add-btn"
        (click)="onAdd()">
</button>
    <!-- ou standalone version : <p-button label="Ajouter une filière" icon="pi pi-plus" severity="success" /> -->
  </div>
<!-- Liste des filières -->
<app-student-list (edit)="onEdit($event)"></app-student-list>

<!-- Formulaire d'ajout -->
 <app-edit
  [visible]="showDialog"
  [student]="selectedStudent"
  (save)="onSave($event)"
  (cancel)="onCancel()">
</app-edit>


