<p>generic-list works!</p>
<div class="majors-container">
  <!-- Bouton d'ajout -->

  <!-- Tableau -->
  <p-table
    [value]="data"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]"
    [tableStyle]="{ 'min-width': '60rem' }"
    class="p-datatable-striped p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (header of headers; track $index) {
          <th>{{ header }}</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
    <tr>
      @for (col of structureField; track $index) {
        <td>
          @switch (col.type) {
            @case ('string') {
              {{ item[col.field] }}
            }
            @case ('object') {
              {{ item[col.field]?.[col.child || ''] }}
            }
          }
        </td>
      }
    </tr>
  </ng-template>
  </p-table>
</div>